body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.site-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.site-logo span {
  color: #2e2f42;
}

.main-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-menu-link:hover,
.main-menu-link:focus {
  color: #404bbf;
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.section-secondary {
  background-color: #f4f4fd;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize
}

.teaser,
.card {
  background-color: #fff;
}

.teaser-title,
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.teaser-description,
.card-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.card-centered .card-title,
.card-centered .card-subtitle {
  text-align: center;
}

.site-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}

.site-footer .site-logo span {
  color: #f4f4fd;
}

.site-footer-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
