:root {
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: 768px) {
    max-width: 796px;
    padding: 0 15px;
  }

  @media screen and (min-width: 1158px) {
    max-width: 1188px;
  }
}

.container-narrow {
  max-width: 296px;

  @media screen and (min-width: 768px) {
    max-width: 588px;
  }

  @media screen and (min-width: 1158px) {
    max-width: 1160px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color var(--transition);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/* Header */

.site-header {
  padding: 0 15px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.site-nav {
  display: flex;
  align-items: center;
  gap: 76px;
}

.site-logo {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.site-logo span {
  color: #2e2f42;
}

/* Main menu */
.main-menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    list-style: none;
    gap: 40px;
  }
}

.main-menu-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color var(--transition);
}

.main-menu-link:hover,
.main-menu-link:focus,
.main-menu-link.current {
  color: #404bbf;
}

.main-menu-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

/* Mobile menu */
.mobile-menu-hamburger {
  height: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform var(--transition);

  &:hover,
  &:focus {
    transform: scale(1.2) rotate(180deg);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  height: 100%;
  gap: 48px;

  & > *:first-child {
    grid-row: 1/4;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.main-menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;

  @media screen and (min-width: 768px) {
    display: none;
  }

  .main-menu-link {
    padding: 5px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
  }

  .main-menu-link.current::after {
    display: none;
  }
}

/* Header address */
.header-address-list {
  list-style: none;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    gap: 40px;
  }
}

.header-address-link {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color var(--transition);

  @media screen and (min-width: 1158px) {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

/* Header address mobile */

.header-address-mobile {
  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .header-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

/* Hero */

.hero {
  max-width: 100%;
  margin: 0 auto;
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-bg-mob.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-bg-tab.jpg');
  }

  @media screen and (min-width: 1158px) {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-bg.jpg');
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 72px;

  @media screen and (min-width: 768px) {
    gap: 36px;
  }

  @media screen and (min-width: 1158px) {
    gap: 48px;
  }
}

.hero-title {
  max-width: 216px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  @media screen and (min-width: 768px) {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

  @media screen and (min-width: 1158px) {
    max-width: 496px;
  }
}

/* Section */

.section {
  padding: 96px 0;

  @media screen and (min-width: 1158px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section-secondary {
  background-color: #f4f4fd;
}

.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

/* Grid */

.grid {
  display: grid;
  gap: 72px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .grid {
    gap: 24px;
  }
}

.grid-three {
  gap: 48px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }

  @media screen and (min-width: 1158px) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 48px;
  }
}

.grid-four {
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }

  @media screen and (min-width: 1158px) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 48px;
  }
}

/* Teaser */

.teaser {
  background-color: #fff;
}

.teaser-image {
  height: 112px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  padding: 24px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;

  @media screen and (min-width: 1158px) {
    display: flex;
  }
}

.teaser-title {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  @media screen and (min-width: 768px) {
    text-align: left;
    font-size: 36px;
  }

  @media screen and (min-width: 1158px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.teaser-description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  @media screen and (min-width: 1158px) {
    font-weight: 400;
  }
}

/* Card */

.card {
  background-color: #fff;
}

.card-title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.card-subtitle {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.card-centered .card-title,
.card-centered .card-subtitle {
  text-align: center;
}

.card {
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow var(--transition);
}

.card:hover,
.card:focus,
.card-centered {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-image-wrapper {
  position: relative;
  overflow: hidden;
}

.card-image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  top: 0;
  margin: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transition: transform var(--transition);
}

.card:hover .card-image-overlay,
.card:focus .card-image-overlay {
  transform: translateY(0%);
}

.card-image {
  width: 100%;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}

.card-centered .card-content {
  border: none;
  padding: 32px 0;
}

.card-social-list {
  margin-top: 8px;
}

/* Social list */

.social-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  list-style: none;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    align-self: center;
  }
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color var(--transition);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;

  .social-list-icon {
    transform: scale(0.9);
  }
}

.social-list-icon {
  fill: #f4f4fd;
  transition: transform var(--transition);
}

.social-list--secondary {
  gap: 16px;
}

.social-list--secondary .social-list-link:hover,
.social-list--secondary .social-list-link:focus {
  background-color: #31d0aa;
}

.social-list--third {
  justify-content: space-between;
}

/* Footer */

.site-footer {
  padding: 96px 0;
  background-color: #2e2f42;
  color: #f4f4fd;

  @media screen and (min-width: 1158px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.site-footer-columns {
  display: grid;
  align-items: baseline;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  @media screen and (min-width: 1158px) {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
  }
}

.site-footer-column {
  @media screen and (min-width: 1158px) {
    margin-right: 120px;
  }
}

.site-footer-column.small-space {
  @media screen and (min-width: 1158px) {
    margin-right: 80px;
  }
}

.site-footer-column:last-child {
  margin-right: 0;
}

.site-footer-column--third {
  @media screen and (min-width: 768px) {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  @media screen and (min-width: 1158px) {
    grid-column: 3;
    grid-row: 1;
  }
}

.site-footer .site-logo {
  display: block;
  margin-bottom: 16px;
  padding: 0;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.site-footer .site-logo span {
  color: #f4f4fd;
}

.site-footer-description {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    max-width: 264px;
  }
}

.site-footer-social-title {
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

/* Subscribe form */

.subscribe-form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}

.subscribe-form .input-text {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  outline: none;
  transition: border-color var(--transition);
}

.subscribe-form .input-text:focus,
.subscribe-form .input-text:focus-visible {
  border-color: #4d5ae5;
}

.subscribe-form .input-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-form .form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-align: center;
  box-shadow: none;
}

.subscribe-form .form-submit-icon {
  margin-left: 16px;
  fill: #fff;
}

/* Overlay */

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity var(--transition), visibility var(--transition);
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.mobile-visible {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

/* Modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  width: 90vw;
  min-height: 584px;
  padding: 72px 16px 24px;
  overflow-y: auto;
  transition: transform var(--transition);

  @media screen and (min-width: 768px) {
    width: 408px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.modal--full {
  width: 100vw;
  height: 100vh;
  min-height: 0;
  padding-bottom: 40px;
  border-radius: 0;
}

.modal .close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  fill: #2e2f42;
  cursor: pointer;
  padding: 0;
  transition: background-color var(--transition), border var(--transition);
}

.modal .close-button:hover,
.modal .close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.modal .close-icon {
  transition: fill var(--transition);
}

.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

/* Contact form */

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form .form-item {
  width: 100%;
  margin-bottom: 8px;
}

.contact-form .form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.contact-form .form-text,
.contact-form .form-full_text {
  display: block;
  width: 100%;
  padding: 8px 8px 8px 38px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--transition);
}

.contact-form .form-text {
  height: 40px;
}

.contact-form .form-full_text {
  padding: 8px 16px;
  resize: none;
}

.contact-form .form-text,
.contact-form .form-full_text,
.contact-form .form-text::placeholder,
.contact-form .form-full_text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.contact-form .form-text:focus,
.contact-form .form-full_text:focus {
  border-color: #4d5ae5;
}

.contact-form .form-item--full {
  margin-bottom: 16px;
}

.contact-form .form-full_text {
  height: 120px;
}

.contact-form .form-input {
  position: relative;
}

.contact-form .form-input-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition);
}

.contact-form .form-text:focus ~ .form-input-icon {
  fill: #4d5ae5;
}

.contact-form .form-item-checkbox {
  margin-bottom: 24px;
}

.contact-form .custom-checkbox {
  position: absolute;
  left: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color var(--transition), border var(--transition),
    fill var(--transition);
}

.contact-form .form-checkbox:checked + .form-label-checkbox .custom-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.contact-form .form-label-checkbox {
  position: relative;
  display: inline-block;
  padding-left: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.contact-form .form-label-checkbox a {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.contact-form .form-submit {
  margin: 0;
  text-align: center;
  align-self: center;
}
